
#du{
   text-align: center;
    position: relative;
    border: 1px solid rgb(0, 217, 255); 
    width: 150%;
    height: auto;
    left: 220%;
    top: -190px;
    border-radius: 8PX;
    box-shadow: 0px 0px 5px 0px rgb(0, 217, 255);
    
}
::placeholder{
    text-align: center;
    color:  rgb(0, 217, 255);
}
#d{
    text-align: center;
     position: relative;
     border: 1px solid rgb(0, 217, 255); 
     width: 150%;
     height: auto;
     left: 190%;
     top: -190px;
     border-radius: 8PX;
     box-shadow: 0px 0px 5px 0px rgb(0, 217, 255);
 }